@page
@model Cucui_Elena_Proiect_Web.Pages.ProductCategories.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductCategory.ID" />
            <div class="form-group">
                <label asp-for="ProductCategory.ProductID" class="control-label"></label>
                <select asp-for="ProductCategory.ProductID" class="form-control" asp-items="ViewBag.ProductID"></select>
                <span asp-validation-for="ProductCategory.ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCategory.CategoryID" class="control-label"></label>
                <select asp-for="ProductCategory.CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                <span asp-validation-for="ProductCategory.CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
